.bio {
  display: flex;
}
.bioImage {
  img {
    width: 16em;
    height: auto;
    border-radius: 50%;
  }
}
.bioContent {
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bioContentName {
  font-weight: 900;
  font-size: 52px;
  line-height: 65px;
  color: #4948a7;
  margin: 0;
}
.bioContentTagLine {
  font-weight: normal;
  font-size: 37px;
  line-height: 47px;
  color: #414141;
  margin: 0.2em 0;
}
.bioContentRole {
  font-weight: bold;
  font-size: 29px;
  line-height: 36px;
  color: #414141;
  margin: 0;
}
